html {
	background: url(../images/bg.jpg);
	background-size: 100% auto;
	width: 100%;
	height: 100%
}

body {
	margin: 0;
	padding: 0;
	font-size: 3.5vw;
	font-family: 微软雅黑;
	color: #fff
}

.box_main,.main,.tips {
	max-width: 1200px;
	margin: 0 auto
}

img {
	width: 100%;
	overflow: hidden
}

.margin_t1 {
	margin-top: 1.5em
}

.top {
	width: 100%;
	padding: .3em 0;
	background-color: #000;
	overflow: hidden
}

.top h1 {
	text-align: center;
	font-size: 1.4em;
	font-family: 微软雅黑;
	color: #ff0d15;
	font-weight: 700;
	background-image: -webkit-gradient(linear,left 0,right 0,from(rgb(40 46 165)),to(rgb(255 255 255)));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: relative;
	margin: 0;
	padding: 0
}

.top h1 i {
	position: absolute;
	right: 6em;
	top: -138px;
	width: 485px;
	height: 265px;
	background: url(../images/dian.png) no-repeat 50%;
	z-index: 1;
	background-size: contain
}

.banner,.menu_1 {
	width: 100%;
	overflow: hidden
}

.menu_1 {
	background: #292836
}

.menu_1 a {
	width: 25%;
	height: 2.8em;
	line-height: 2.8em;
	float: left;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 1.4em;
	font-family: 微软雅黑;
	color: #cfcfcf;
	overflow: hidden
}

.menu_1 a.color,.menu_1 a:hover {
	color: #fffac2;
	border-bottom: 1px solid #fffac2
}

.head_banner {
    position: relative;
	cursor: pointer;
	width: 1200px;
	height: 120px;
	margin: .3em auto;
	display: block;
	background: url(../images/top_step.png) no-repeat;
	background-size: 100% auto
}

.head_banner div {
	float: right;
	margin: 64px 17px 0;
	font-size: 34px;
	font-family: 微软雅黑;
	color: #fff;
	overflow: hidden;
}

.tips {
	padding: .2em 0 0;
	overflow: hidden
}

.tips .ico {
	float: left;
	overflow: hidden;
	font-size:0;
	padding:0 10px;
}

.tips .text {
	width: 94.9%;
	float: right;
	margin-left: .5em;
	font-size: .8em;
	font-family: 微软雅黑;
	color: #ccc;
	overflow: hidden
}

.comments_box .main {
	color: #ccc;
	width: 98%;
	height: 40px;
	line-height: 40px;
	margin: .5em auto 0;
	overflow: hidden;
	background-image: linear-gradient(90deg,#000,#312c29 30%,#312c29 70%,#000);
	background-size: 100% auto;
	text-align: center;
	margin: 0 auto
}

h2.title {
	position: relative;
	margin: 0 auto
}

h2.title span {
	text-align: center;
	display: block;
	color: #fff;
	background-image: -webkit-linear-gradient(bottom,rgb(0 0 0),rgb(187 172 172));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-line-clamp: 2;
	opacity: .2
}

h2.title img {
	margin: 0 auto .2em;
	width: auto;
	display: block;
	text-align: center
}

.items_box {
	margin: 1em auto 0;
	overflow: hidden;
	justify-content: space-around;
	display: flex;
	flex-wrap: wrap
}

.items_box .items {
	width: 31.5%;
	margin-bottom: 2%;
	font-size: .7em;
	font-family: 微软雅黑;
	color: #fff;
	overflow: hidden;
	position: relative;
	cursor: pointer
}

.items_box .detail {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	transition: all .5s ease
}

.items_box .items .title {
	padding: 0 1em;
	text-align: center;
	font-size: .6em;
	font-family: 微软雅黑;
	color: #fdfbc2
}

.items_box .items .text {
	padding: .6em 2em;
	text-align: center;
	line-height: 24px;
	font-size: 15px;
	font-family: 微软雅黑;
	color: #ccc
}

.items_box .items img {
	transition: all .5s ease
}

.items_box .items:hover>.detail {
	opacity: 0
}

.items_box .items:hover>.img img {
	transform: scale(1.1);
	-webkit-transform: scale(1.1)
}

.layui-repair {
	color: #000;
	padding: 15px
}

#iosBox {
	display: none;
	position: relative;
	z-index: 2!important
}

#iosBox .overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.5)
}

#iosBox .openIos {
	width: 90%;
	height: 60px;
	background-color: #fff;
	padding: 18px 0;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -30px 0 0 -45%;
	border-radius: 15px;
	box-shadow: 0 0 20px #3a2121
}

#iosBox .openIos p {
	font-size: 18px;
	color: #000;
	margin: 0 0 10px;
	padding: 0 15px
}

#iosBox .openIos .btn-group {
	text-align: right;
	padding: 0 15px
}

#iosBox .openIos a {
	font-size: 16px;
	color: #2587ff;
	text-align: right;
	margin: 0 10px;
	display: inline-block;
	text-decoration: none
}

.swiper-slide .box {
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: url(../images/line.png) repeat-x;
}

.bb-info {
	margin: 8px 0 0;
	position: relative;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center
}

.bb-info:before{
	/* content: "👩"; */
	display: block;
	font-size: 14px;
	background: #fff;
	border-radius: 50%;
	width: 26px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	margin-right: 5px;
	transition: all .5s ease
}
.bb-info i::before{
	display: inline-block;
	content: "距离您:";
	margin:0 5px 0 6px;
}
.bb-info i {
	color: #fdfbc2;
	font-style: normal;
	font-weight: 700;
	transition: all .5s ease
}

.banner {
	position: relative
}

.banner .swiper-pagination {
	position: absolute;
	right: 50px;
	bottom: 30px
}

.banner .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	display: inline-block;
	border-radius: 100%;
	background: #fff;
	opacity: .6;
	margin: 0 10px
}

.banner .swiper-pagination-bullet-active {
	width: 12px;
	height: 12px;
	opacity: 1;
	background: #e8e588;
	border: none
}

.home-bb .swiper-container {
	width: 100%;
	margin: 35px 0
}

.home-bb .swiper-slide {
	-webkit-transition: transform 1s;
	-moz-transition: transform 1s;
	-ms-transition: transform 1s;
	-o-transition: transform 1s;
	transform: scale(.7)
}

.home-bb .swiper-slide-active,.swiper-slide-duplicate-active {
	transform: scale(1)
}

.none-effect {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none
}

.swiper-slide a {
	display: block
}

.swiper-slide-active a:after {
	background: none
}

.swiper-slide img {
	width: 100%;
	display: block
}

.button {
	width: 50%;
	margin: 0 auto;
	bottom: 220px;
	position: relative
}

.button div:hover {
	background-color: #2f4798
}

.home-bb .swiper-button-prev {
	width: 24px;
	height: 44px;
	background: url(../images/u32abaf8eeb0a416fafa10a901b557378r.png) 50% no-repeat!important
}

.home-bb .swiper-button-next {
	width: 24px;
	height: 44px;
	background: url(../images/ud0cf322e5d294ef3b3806976ad94c807n.png) 50% no-repeat!important
}

.steps .step {
	width: 1200px;
	height: 199px;
	text-align: center;
	background: url(../images/step.png) 50% no-repeat
}

.steps h3 {
	color: #fffac2;
	font-size: 30px;
	margin: 0;
	padding-top: 24px
}

.steps p {
	font-size: 24px;
	margin: 28px 0 0;
	color: #ccc
}

.steps span {
	color: #fff
}

.pc-show {
	display: block
}

.h5-show {
	display: none
}

@media screen and (min-width:768px) {
	.box_main .box1 .title,.box_main .box2 .title,.box_main .box3 .title {
		font-size: 1em
	}

	.top {
		font-size: .6em;
		padding: .8em 0
	}

	.advantage_box,.box_main .box1 .text,.box_main .box2 .text,.box_main .box3 .text,.comments_box .left,.comments_box .right,.menu_1 a,.process_box .no1,.process_box .no2,.process_box .no3,.process_box .no4 {
		font-size: .4em
	}

	.menu_1 a {
		font-size: 18px
	}

	.comments_box,.tips .text {
		font-size: 16px
	}
}

@media screen and (max-width:1200px) {
	.head_banner {
		width: 100%;
		height: 100px;
		padding-bottom: 10px
	}

	.steps .step {
		width: 100%;
		height: 120px;
		background-size: contain
	}

	.steps h3 {
		font-size: 16px;
		padding-top: 15px
	}

	.steps p {
		font-size: 14px;
		margin: 20px 0 0
	}

	.head_banner div {
		margin: 55px 30px 0;
		font-size: 20px
	}

	.button {
		bottom: 160px
	}
}

@media screen and (max-width:768px) {
	.head_banner {
		height: 75px
	}

	.head_banner div {
		margin: 42px 30px 0
	}

	.menu_1 a {
		font-size: .6em
	}
}

@media screen and (max-width:668px) {
	.button {
		width: 70%;
		bottom: 22px
	}

	.home-bb .swiper-container {
		margin: 20px 0 15px
	}

	h2.title span {
		font-size: 50px
	}

	.button {
		bottom: 120px
	}
}

@media screen and (max-width:480px) {
	.pc-show {
		display: none!important
	}

	.h5-show {
		display: block!important
	}

	.head_banner {
		height: 3em;
		padding-bottom: 0
	}

	.head_banner div {
		margin: 20px 10px 0;
		font-size: 12px;
		width:120px;
		text-align: right;
	}

	.menu_1 a {
		font-size: 1.2em
	}

	.tips {
		display: flex;
		align-items: center
	}

	.tips .ico {
		width: 12px;
		margin: .5em
	}

	.items-page {
		width: 94%;
		margin: 0 auto
	}

	h2.title img {
		width: 66%
	}

	.items_box .items .title {
		font-size: 1.4em
	}

	.items_box .items .text {
		font-size: .6em;
		line-height: 26px;
		display:none;
	}

	h2.title span {
		font-size: 32px
	}

	.button {
		bottom: 90px
	}

	.steps .step {
		height: 70px
	}

	.steps h3 {
		font-size: 14px;
		padding-top: 6px
	}

	.steps p {
		font-size: 14px;
		margin: 6px 0 0
	}

	.banner .swiper-pagination-bullet {
		margin: 0 5px
	}

	.top h1 {
		font-size: 2em
	}

	.top h1 i {
		right: -60%;
		top: -124px
	}

	.bb-info {
		margin: 15px 0 0;
		font-size: 1.2rem;
	}
}
.layer_mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0,0,0,0.6);
    display: none;
}

.layer_container {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid #eed8bc;
    font-size: 16px;
    color: #fff;
    padding: 20px 10px;
    border-radius: 16px;
    background-image: -webkit-linear-gradient(90deg, rgb(23, 23, 28) 0%, rgb(57, 56, 61) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(23, 23, 28) 0%, rgb(57, 56, 61) 100%);
    text-align: center;
}
.layer_container .title{
    font-size: 32px;
    font-weight: 600;
    background-image: -webkit-linear-gradient(bottom, #f2d6a4, #f7ddaf, #fde7c0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}
.layer_container .content{
    font-size: 14px;
}
.layer_mask a.close{
    font-size: 14px;
    color: #956b48;
    text-decoration: none;
    display: inline-block;
    padding: 0.08rem 0.36rem;
    background-image: -webkit-linear-gradient(bottom, #f2d6a4, #f7ddaf, #fde7c0);
    border-radius: 0.05rem;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color:#956b48;
    border-radius: 6px;
    margin-top: 10px;
}
@media screen and (min-width:1000px) {
    .layer_container{
		width: 500px;
	}
}
.footer {
	height: 80px;
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	max-width: 750px;
	margin: 0 auto;
	background-color: #141414;
	display: flex;
	align-items: center;
	padding: 0 8px;
	z-index: 999;
	box-sizing: border-box;
}

.footer .logo {
	width: 45px;
	height: 45px;
	flex-shrink: 0;
	margin-right: 5px;
}
.footer .logo img{
	vertical-align: top;
}
.footer .tips_text {
	margin-left: 0.213333rem;
	flex: 1;
	white-space: nowrap;
	font-size: 16px;
}

.footer .tips_text div {
	color: #F0D9A9;
}

.footer .tips_text div b {
	font-size: 20px;
	padding-right: 0.133333rem;
}
.footer .tips_text div span{
	font-size: 12px;
}
.footer .tips_text>span {
	color: #fff;
	font-size: 12px;
}
#copy{
	opacity: 0;
}
.footer .download {
	height: 40px;
	line-height: 40px;
	color: #000;
	background-color: #FAE2B0;
	padding: 0 12px;
	border-radius: 5rem;
	white-space: nowrap;
	font-size: 12px;
	animation: flash 1s infinite;
	flex-shrink: 0;
	text-decoration: none;
}
@-webkit-keyframes flash {

	from,
	50%,
	to {
		transform: scale(.9);
	}

	25%,
	75% {
		transform: scale(1);
	}
}

@keyframes flash {

	from,
	50%,
	to {
		transform: scale(.9);
	}

	25%,
	75% {
		transform: scale(1);
	}
}
body::after{
	content:"";
	height: 100px;
	display: block;
}
@media screen and (min-width:1200px) {
    .footer{
		width: 1200px;
		max-width: 1200px;
	}
	.footer .download{
		width: 200px;
		text-align: center;
	}
	.footer .tips_text{
		font-size: 22px;
	}
	.footer .tips_text>span{
		font-size: 18px;
	}
	.footer .logo{
		width: 60px;
		height: 60px;
	}
	.footer .tips_text div b {
		font-size: 24px;
	}
}